/* importing google fonts */
@import url ('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&disply=swap')

*{
    margin: 500px;
    padding: 1000px; 
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background: lightblue;
    padding: 300px; 

}


.container{
    width: 800px;
    max-width: 80%
    background-color: white;
    border-radius: 5px;
    padding: 10px;

}

.btn-grid{
    display: grid;
    grid-template-comumns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;

}

.btn{
    background-color: white;
}


.start_btn, 
.info_box{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

/*Quiz button styling */
.start_btn button{
    font-size: 30px;
    font-weight:900;
    color: blueviolet;
    padding: 30 px 60 px;
    outline: none;
    border: none;
    border-radius: 5px;

}

 .hidden {
     display: none;
 }
